/* Empty. Add your own CSS if you like */
#map {
 stroke-width: 0px;
 background-color: #e3f4fa;
 width: 100%;
 height: 100%;
}

.scroll-content{
 background: url('../img/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }


hr.fancy-line {
    border: 0;
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}


.event-headline,
.event-footline,
.event-caption {
  margin-left:40px;
  font-weight: 400;
  font-family: wf_segoe-ui,Tahoma,Verdana,Arial,sans-serif;
  letter-spacing: -0.005em;
  line-height: 1.2;
}

.event-headline {
  margin-top:7px;
  color: #333;
  font-size: 0.75em;
}

.event-footline {
  margin-top:3px;
  margin-bottom:7px;
  color: #333;
  font-size: 0.75em;
}


.event-caption {
  color: #737373;
  font-size: 0.72em;
  margin-top: 0.2em;
}

.coutry-img {
  display: inline-block;
  width: 22px;
  height: 22px;
  color:transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.marge40{
  margin-left:40px;
}
.event-location-title,
.event-location-value {
  float:left;
  clear:both;
  font-weight: 400;
  font-family: wf_segoe-ui,Tahoma,Verdana,Arial,sans-serif;
  letter-spacing: -0.005em;
  line-height: 1.2;
  font-size: 0.75em;
  width:100%;
  text-align:center;
}


div.feedcontainer {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top:2px;
  padding-bottom:2px;
}

div.feed,  a.feed {
  background:transparent;
  border-width: 0px;
}

.feedcontainer > .col {
    padding: 0;
    border-width: 0px;
}

.feed-caption,
.feed-title {
  color:white;
  float:left;
  clear:both;
  font-weight: 400;
  font-family: wf_segoe-ui,Tahoma,Verdana,Arial,sans-serif;
  letter-spacing: -0.005em;
  line-height: 1.2;
  font-size: 0.75em;
  width:100%;
  text-align:left;
  vertical-align:top;
  border-width: 0px;
}

.feed-icon {
  color:white;
  border-radius: 50%;
  border: 1px solid;
}


.feed-profile{
  padding:2px;
  display: inline-block;
  width: 30px;
  height: 30px;
  color:transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.feed-profile-name{
  font-weight: bold;
}
.feed-left{
  display: block;
  float:left;
  width: 50%;
}

.feed-time{

}
.feed-right{
  display: block;
  float:right;
  width: 50%;
  text-align:right;
}
