<ion-view view-title="SMARTSTADIUM">
  <ion-content>

  <div style="margin-top: 6px!important; padding-right:10px; padding-left:10px;">
      <button class="button button-block button-positive icon-left ion-radio-waves" ng-if="!reading" ng-click="startReader()">
        Lire une étiquette</ion-spinner>
      </button>
    <button class="button button-block button-positive icon-left ion-radio-waves" ng-if="reading"  ng-click="stopReader()">
      <ion-spinner class="spinner spinner-ripple spinner-light" icon="ripple"></ion-spinner>
    </button>

  </div>
    <div class="card" style="margin-top: 6px!important;">
      <div class="row row-no-padding">
          <div class="col">
            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">
                  Evenements
                </div>
              <select ng-model="selectedEvent" >
                <option value="1" selected>Football</option>
                <option value="2">Concert</option>
                <option value="3">Sport</option>
              </select>
            </label>
            <label class="item item-input" >
              <span class="input-label">Bloc</span>
              <input type="text">
            </label>
             <label class="item" style="display:none!important">
             </label>
          </div>
        </div>
        </div>
        <div class="row row-no-padding">
        <div class="col" style="padding-right:10px; padding-left:10px;">
          <a href="#" class="button button-block icon-left ion-search button-calm" ng-click="navigate(true)">Rechercher</a>
        </div>
      </div>
    </div>

    <div class="card" style="margin-top: -10px!important;">
      <div class="row row-no-padding">
        <div class="col text-center" ><a href="#" class="button button-clear button-calm">Euro 2016 - Stade de France</a></div>
      </div>
      <!--
      <div class="row row-no-padding">
        <div class="col text-center" ><a href="#" class="button button-clear button-royal"></a></div>
      </div>
      -->
        <div class="row row-no-padding">
          <div class="col text-center">
            <div class="event-caption ">Vendredi 10 juin 2016</div>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col text-center">
          <div class="event-caption "><span style="color:red">PORTE L</span>, Bloc L18, Rang 63, Place 37</div>
          </div>
        </div>
        <hr>
        <div class="row row-no-padding">
          <div class="col text-center">Ouverture des portes à 19h</div>
        </div>
      <hr>
        <div class="row">
          <div class="col text-center">
            <div class="img-thumbnail flag flag-icon-background flag-icon-fr coutry-img">-</div>
          </div>
          <div class="col text-center">France</div>
          <div class="col text-center">? - ?</div>
          <div class="col text-center">Roumanie</div>
          <div class="col text-center">
            <div class="img-thumbnail flag flag-icon-background flag-icon-ro coutry-img">-</div>
          </div>
        </div>
      <div class="row row-no-padding">
        <div class="col" style="padding-right:10px; padding-left:10px;">
          <a href="#" class="button button-block icon-left ion-compass button-calm" ng-click="navigate(false)">Trouver ma place</a>
        </div>
      </div>
    </div>



  </ion-content>

  <article class='glass down'>
    <h1 class='toggle' ng-click='toggle()' style="text-align:center!important">
      <div class="footer-headline">Test</div>
      <div class="footer-caption ">Test</div>
    </h1>
    <hr>
    <div class="row">
      <div class="col">
        <a href="#/share" class="button icon-left ion-share button-clear button-dark">Partager</a>
      </div>
      <div class="col">
        <a href="#/feed" class="button icon-left ion-ios-paper-outline button-clear button-dark" ng-click="showFeedbackPopup()">Feedback</a>
      </div>
    </div>
  </article>

  <svg xmlns="http://www.w3.org/2000/svg"  version="1.1">
    <defs>
      <filter id="blur">
        <feGaussianBlur stdDeviation="5"/>
      </filter>
    </defs>
  </svg>



</ion-view>
