<ion-view view-title="Stade de france">
  <ion-content id="navigationContentId" >
    <stade></stade>
    <div class="list card">

      <div class="button-bar">
        <a class="button icon ion-woman"></a>
        <a class="button icon ion-icecream"></a>
        <a class="button icon ion-card"></a>
        <a class="button icon ion-model-s"></a>
        <a class="button icon button-positive" ng-click=""><img src="img/handicapped.svg" id="handicap" />
        </a>
      </div>


    </div>

  </ion-content>
</ion-view>
