<!-- Event -->
<div class="feedcontainer">
  <div class="row row-no-padding">
    <div class="col col-10">
      <img class="feed-profile" src="img/profile.gif"/>
    </div>
    <div class="col">
      <div class="feed-title"><span class="feed-profile-name">Zaïd Boudamouz</span></div>
      <div class="feed-title ">Hello, je suis là. Je t'attends là.</div>
    </div>
    <div class="col">
      <div class="feed-title" style="text-align:right">Il y a 3 minutes</div>
    </div>
    <div class="col">
      <a href="#" class="item item-icon-right button-small feed">
        <i class="icon ion-location feed-icon"></i>
      </a>
    </div>
  </div>
</div>
